<html>
<%= stylesheet_link_tag 'new' %>
<%= stylesheet_link_tag 'kho' %>

<h1> <%= @twelve %></h1>
<table bgcolor="brown"><tr><td>
  <b> <%= @line1%></b></br>
   <%= @second %><br/>
  <%= @first %><br/>
  <%= @third %></br>
  
  <%= @fourth %></br>
   
    <%= @six %></br>
    <%= @seven %></br>
    <%= @eight %></br>
    <%= @nine%></br>
    <%= @ten%></br>
    <%= @eleven %></br>
     <%= @wired %></br>
    
      <%= @ipwireless %></br>
     <%= @fifteen%></br>
       <%=@mac %></br>
      <%= @seventeen %></br>
     
    
   </td></tr></table>
   </html>
